@use "../../src/Style/theme" as t;

[data-theme="light"]{
    --last-data-color: #8e8e8e;
}

[data-theme="dark"]{
    --last-data-color: #b8998b;
}

:export {
  currentDataColor: #ff6219;
  lastDataColor: var(--last-data-color);
}
