[data-theme="light"] {
  --text-100: #111111;
  --text-200: #4b4b4b;
  --text-300: #6f6f6f;

  --bg-100: #e9e2e0;
  --bg-200: #efeae8;
  --bg-300: #f7f2f0;

  --stroke-color: #c9c9c9;

  --loading-color-100: rgba(0, 0, 0, 0.08);
  --loading-color-200: rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] {
  --text-100: #f1f1f1;
  --text-200: #a1a1a1;
  --text-300: #7c7c7c;

  --bg-100: #0e0e0e;
  --bg-200: #151515;
  --bg-300: #1c1c1c;

  --stroke-color: #252525;
  --stroke-color-200: #333;

  --loading-color-100: #ffffff05;
  --loading-color-200: #ffffff0d;
}

$text-color-shade-100: var(--text-100);
$text-color-shade-200: var(--text-200);
$text-color-shade-300: var(--text-300);

$bg-color-shade-100: var(--bg-100);
$bg-color-shade-200: var(--bg-200);
$bg-color-shade-300: var(--bg-300);

$stroke-color: var(--stroke-color);
$stroke-color-200: var(--stroke-color-200);

$loading-color-100: var(--loading-color-100);
$loading-color-200: var(--loading-color-200);
