@use "./config" as c;
@use "./theme" as t;

@font-face {
  font-family: "font-regular";
  src: url("../../Font/font-regular.otf");
}

@font-face {
  font-family: "font-bold";
  src: url("../../Font/font-bold.otf");
}

@font-face {
  font-family: "secondary-font";
  src: url("../../Font/secondary-font.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: t.$bg-color-shade-100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "font-regular";
  font-size: c.$fontsize-2;
  text-decoration: none;
  color: inherit;
  transition:
    background-color c.$transition c.$transition-ease,
    border-color c.$transition c.$transition-ease,
    color c.$transition c.$transition-ease,
    fill c.$transition c.$transition-ease,
    stroke c.$transition c.$transition-ease;
}

.switch-theme-btn {
  height: 35px;
  aspect-ratio: 1;
  @include c.flex-center;
  border-radius: c.$radius-1;
  background-color: t.$bg-color-shade-300;
  cursor: pointer;
  user-select: none;
}
