@use "../../../src/Style/theme" as t;

[data-theme="light"]{
    --last-data-color: #8e8e8e;
}

[data-theme="dark"]{
    --last-data-color: #c2c2c2;
}

:export {
  currentDataColor: #19ff5a;
  lastDataColor: var(--last-data-color);
}
