@use "../../../src/Style/config" as c;
@use "../../../src/Style/theme" as t;

.gitpulse-chart-card {
  border: 1px solid t.$stroke-color;
  background-color: t.$bg-color-shade-300;

  border-radius: 0.75rem;
  padding: c.$space-3;
  width: 50%;
  box-sizing: border-box;

  .chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: c.$space-2;
    margin-bottom: c.$space-2;

    .header-info {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .chart-title {
        color: t.$text-color-shade-100;
        font-size: c.$fontsize-3;
        font-family: "font-medium";
      }

      .chart-description {
        color: t.$text-color-shade-300;
        font-size: c.$fontsize-2;
      }
    }

    .header-actions {
      @include c.flex-center;
      gap: c.$space-1;

      .performance-badge {
        display: flex;
        align-items: center;
        gap: calc(c.$space-1 * 0.3);
        padding: calc(c.$space-1 * 0.6);
        border-radius: c.$radius-1;

        &.up {
          color: #4dff4d;
        }
        &.down {
          color: #ff4343;
        }

        span {
          font-family: "secondary-font";
        }
      }

      .chart-select {
        background-color: t.$bg-color-shade-200;
        border: 1px solid t.$stroke-color;
        appearance: none;
        @include c.flex-center;
        color: t.$text-color-shade-100;
        font-size: c.$fontsize-2;
        padding: 0.8rem 1rem;
        border-radius: c.$radius-1;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .chart-content {
    padding-top: 1rem;
    height: 150px;

    .chart-wrapper {
      width: 100%;
      height: 100%;
    }

    .recharts-responsive-container {
      width: 100%;
      height: 100%;
    }

    g text {
      fill: t.$text-color-shade-300;
      tspan {
        font-size: c.$fontsize-2;
        font-family: "font-medium";
      }
    }
  }
}

.custom-chart-tooltip {
  background-color: t.$bg-color-shade-100;

  [data-theme="light"] & {
    background-color: t.$bg-color-shade-300;
  }
  
  border: 1px solid t.$stroke-color;
  border-radius: 0.5rem;
  padding: 0.6rem 0.75rem;
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .tooltip-section {
    @include c.flex-center;
    gap: calc(c.$space-1 * 0.6);

    .color {
      height: 10px;
      aspect-ratio: 1 / 2;
      display: inline-block;
      border-radius: 2px;
      margin-right: calc(c.$space-1 * 0.6);
    }

    span {
      font-family: "secondary-font";

      &.tooltip-period {
        color: t.$text-color-shade-200;
      }

      &.tooltip-value {
        color: t.$text-color-shade-100;
      }
    }
  }
}
