@use "../../src/Style/config" as c;
@use "../../src/Style/theme" as t;

.dashboard-page {
  display: flex;
  background-color: t.$bg-color-shade-200;
  min-height: 100vh;

  .empty-data {
    @include c.flex-center;
    height: 100%;
    min-height: 150px;

    .text {
      font-family: "secondary-font";
      color: t.$text-color-shade-300;
      font-size: calc(c.$fontsize-2 * 0.8);
    }
  }

  > .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: c.$space-2;
    padding-left: calc(
      clamp(200px, c.$sidebar-width, c.$sidebar-width) + c.$space-2
    );
  }
}
