@use "../../../src/Style/config" as c;
@use "../../../src/Style/theme" as t;

.overview-page {
  display: flex;
  flex-direction: column;
  gap: c.$space-1;

  .KPIs-wrapper {
    display: flex;
    gap: c.$space-1;
  }

  .contributions-grid {
    width: 100%;
    background-color: t.$bg-color-shade-300;
    padding: c.$space-3;
    border-radius: c.$radius-3;
    border: 1px solid t.$stroke-color;
    @include c.flex-center;

    .loading-calendar {
      min-height: 150px;
      width: 100%;
      border-radius: c.$radius-2;
      @include c.skeleton-loading;
    }

    text {
      color: t.$text-color-shade-100;
    }

    g rect {
      stroke: transparent !important;
    }
  }

  .activities-container {
    position: relative;
    background-color: t.$bg-color-shade-300;
    width: 100%;
    border: 1px solid t.$stroke-color;
    padding: c.$space-3;
    border-radius: c.$radius-3;
    overflow: hidden;

    .header {
      position: relative;
      z-index: 2;
      margin-bottom: c.$space-2;

      .header-text {
        font-size: c.$fontsize-2;
        color: t.$text-color-shade-100;
      }
    }

    .activities-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: c.$space-1;
      max-height: 400px;
      overflow-y: scroll;

      .loading-item {
        width: 100%;
        min-height: 150px;
        border-radius: c.$radius-2;
        @include c.skeleton-loading;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .activity-item {
        display: flex;
        flex-direction: column;
        gap: c.$space-1;
        background-color: t.$bg-color-shade-200;
        padding: c.$space-2;
        border-radius: c.$radius-2;
        border: 1px solid t.$stroke-color;

        span {
          font-family: "font-bold";
        }

        [data-theme="dark"] & {
          border-color: t.$stroke-color-200;
        }

        .meta-content {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .repo-info {
            display: flex;
            align-items: center;
            gap: calc(c.$space-1 * 0.5);
            color: t.$text-color-shade-200;

            svg {
              opacity: 0.8;
            }

            .repo {
              font-size: calc(c.$fontsize-2 * 0.85);
              font-family: "secondary-font";
            }
          }

          .date {
            font-size: calc(c.$fontsize-2 * 0.8);
            color: t.$text-color-shade-300;
            font-family: "secondary-font";
          }
        }

        .main-content {
          margin-top: calc(c.$space-1 * 0.5);

          .activity-title {
            color: t.$text-color-shade-100;
            font-size: c.$fontsize-2;
            font-family: "font-light";
          }
        }

        .footer-content {
          margin-top: calc(c.$space-1 * 0.5);

          .activity-type.badge {
            display: inline-flex;
            align-items: center;
            height: c.$height-1;
            padding: 0 c.$space-1;
            border-radius: c.$radius-1;
            font-size: calc(c.$fontsize-2 * 0.8);

            background-color: #00000016;
            border: 1px solid t.$stroke-color;
            color: t.$text-color-shade-200;
          }
        }
      }
    }
  }
}

.react-activity-calendar__tooltip {
  background-color: #00000080;
  [data-theme="light"] &{
    background-color: #ffffff58;
  }
  backdrop-filter: blur(5px);
  border: 1px solid t.$stroke-color;
  padding: calc(c.$space-1 * 0.8) c.$space-1;
  border-radius: c.$radius-1;
  color: t.$text-color-shade-100;
  font-family: "font-light";

  span {
    display: flex;
    align-items: center;
    gap: c.$space-1;
    .color {
      display: inline-block;
      height: 15px;
      aspect-ratio: 1 / 3;
      border-radius: 4px;
    }
  }
}
